<head>
  <link href='style.css' rel='stylesheet'>
</head>

body {background-color: rgb(255,255,255);}


body{
  background: rgb(245,245,245);
  color: green;
  font-size: 25px;
  font-family: 'Cedarville Cursive', cursive;
}
h1{
  font-family: 'Cedarville Cursive', cursive;
  color: red;
  font-weight: lighter;
  font-size: 18px;
}
h2 {
  font-family: 'Cedarville Cursive', cursive;
  color: pink;
  font-weight: lighter;
  font-size: 18px;
}
a {
  color: black;
}
a:hover {
  text-decoration: none;
  color: purple;
}
/*